<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title><%= title %></title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 100dvh;
        background-color: #000;
        overflow: hidden;
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    </style>
    <script>
      const allow = ["<%- allow %>"];
      if (!allow?.includes(top.location.host)) {
        //window.location="https://www.google.com";
      }
      if (top.location == self.location) {
        console.log("top", top.location);
        console.log("self", self.location);
        //window.location="https://www.google.com";
      }
    </script>
  </head>
  <body>
    <% if(!!iframe_url){ %>
    <iframe src="<%= iframe_url %>" frameborder="0" allowfullscreen></iframe>
    <% } %>
  </body>
</html>
